a {
    text-decoration: none !important;
}
    
/*ul li .login {
    color: rgb(1, 112, 191);
}*/

.card a {
    color: rgb(93, 93, 93);
}

.contenedor-principal {
    background-color: #fefefe;
    padding-top: 48px;
}

main {
    padding: 10px 120px;
}

section.titulo-principal {
    margin-bottom: 24px;
    padding: 10px 50px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: auto 20px;
    gap: 50px;
}

.card.item {
    padding: 0 20px;
}

.item > a > .card-body {
    border-top: 1px solid lightgray;
}

.item > a > .card-body > h5 {
    text-align: center;
}

.modulos .modulo-img-top {
    width: 200px;

}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    main {
        padding: 10px 80px;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: auto 0px;
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .contenedor-modulos .item:hover {
        scale: 1.15;
    }
}

@media (max-width: 768px) {
    header .container-fluid footer {
        width: 768px;
    }

    main {
        padding: 10px 40px;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: auto 0px;
        gap: 30px;
    }

    footer {
        text-align: center !important;
        justify-content: center !important;
    }

    footer > * {
        width: 100% !important;
    }

    footer ul.nav  {
        width: 100% !important;
        justify-content: center !important;
    }

}


